<div class="container">
    <div class="mt-4">
        <h2>Khóa học của tôi</h2>
        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
            </thead>
            <tbody>
            {{#each course}}
                <tr>
                    <th scope="row">{{add1 @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-courses-modal">Xóa</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="modal" id="delete-courses-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Xóa khóa học ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa nó không ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete-course" class="btn btn-primary">Xóa bỏ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var deleteCourseForm = document.forms["delete-course-form"];
        $('#delete-courses-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteCourseForm.submit();
        }
    })
</script>