<div class="m-4">
    <form>
        <div class="form-group">
        <label for="exampleInputEmail1">Nhập từ khóa</label>
        <input type="text" name = "q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
        </div>

        <div class="form-group">
            <label for="gender-input">Từ khóa</label>
            <select name = "gender" class="form-control" id="gender-input">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>