<div class="container">
    <div class="mt-4">
        <h3> Tạo khóa học</h3>
        <form method="post" action="/courses/store">
            <div class="form-group">
                <label for="description">Tên khóa học</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Mô tả</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="form-group">
                <label for="description">Video ID</label>
                <input type="text" class="form-control" id="videoid" name="videoid">
            </div>
            <div class="form-group">
                <label for="description">Trình độ</label>
                <input type="text" class="form-control" id="level" name="level">
            </div>
            <button type="submit" class="btn btn-primary">Thêm khóa học</button>
        </form>
    </div>
</div>