<div class="container">
    <div class="mt-4">
        <h3> Cập nhật khóa học</h3>
        <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="description">Tên khóa học</label>
                <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Mô tả</label>
                <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="description">Video ID</label>
                <input type="text" class="form-control" value="{{course.videoid}}" id="videoid" name="videoid">
            </div>
            <div class="form-group">
                <label for="description">Trình độ</label>
                <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</div>