<div class="mt4" style="">
    <div class="row">
        <div class="col-lg-3">
            <button>Học Ngay</button>
            <ul>
                <li>
                    {{course.level}}
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.</p>
        </div>
    </div>
</div>